@keyframes run
  0%
    backgroud-position:0 0
  to
    background-position:2000px 0

#app .theme-container .navbar .site-name
  font-family: '华文行楷'
  font-weight:bolder
  max-width:15rem
  color:#8c888b
  background:-webkit-linear-gradient(45deg,#70f7fe,#fbd7c6,#fdefac,#bfb5dd,#bed5f5)
  color:transparent
  -webkit-background-clip:text
  animation:run 20s linear infinite
